extends layoutWithSidebar.pug

append head
  link(href="/stylesheets/article_list.css", type="text/css" rel="stylesheet")

block maincontent
  .article-list
    include components/article_list_component.pug
    include components/pagination_component.pug
append sidebar
  .widget 
    .box#latestArticle
      .boxTop.topLatestArticle
        i.fa.fa-list-alt
        div 最新文章
      ul.boxBottom.botLatestArticle