extends layout

block content
  h1 #{title}

  form(method="POST" action="")
    div
      label(for='name') 种类名(英文):
      input#name(type='text', placeholder="log,life..." name="name" value=(genre===undefined ? '' : genre.name))
    div
      label(for='nameCN') 种类名(中文):
      input#nameCN(type='text', placeholder="日志，生活。。。" name="nameCN" value=(genre===undefined ? '' : genre.nameCN))
    div
      label(for='fontawsome') fontAwsome图标：
      input(type='text', placeholder='fa-paw, fa-map-pin...' name='fontawsome' value=(genre===undefined ? '' : genre.fontawsome))
    div
      label(for='list') 列
      input(type='number', name='list', value=(genre===undefined ? 0 : genre.list), min=0)
    div
      label(for='weight') 权重
      input(type='number', name='weight', value=(genre===undefined ? 0 : genre.weight), min=0)
    button(type='submit') 提交
  if confirm
    p #{confirm}
  if errors
    ul
      for error in errors
        li!= error.msg