extends layoutWithSidebar.pug
append head
  link(href="/stylesheets/article_list.css", type="text/css", rel="stylesheet")

 
prepend sidebar
  if admin 
    .widget
      ul
        li
          a(href='/genre') 分类列表
        li
          a(href='/articles') 文章列表
        li
          a(href='/article/create') 创建新文章
        li
          a(href='/genre/create') 创建新分类

block maincontent
  .article-list
    include components/article_list_component.pug