extends layout.pug

block content
  if showNav
    .nav-crumbs
      span 当前位置：
      i.fa.fa-home
      span
        a(href='/') 首页
      if genre
        i.fa.fa-angle-right
        span
          a(href=`/articles?genre=${genre.name}`)= genre.filter_name
      if current
        i.fa.fa-angle-right
        span
          a(href=current.url)= current.name
  .main
    block maincontent 
    .sidebar
      block sidebar
        .widget
          #author
            .topAuthor
              .left
                img(src="/images/timg.jpg", alt="头像")
              .right
                span.tag 博主：
                span.names 梁福苹
                span.github
                  a(href="https://www.github.com/kjhz",target="_blank")
                    i.fa.fa-github
                .talk 记录学习的过程
            .botAuthor
                a#articleNum(href='/articles')
                  span 文章
                  span.num 
                a#likesNum  
                  span 喜欢
                  span.num 
        .widget
          .box
            .boxTop
              i.fa.fa-list-alt
              div 标签
            ul.mapTags
