extends layout

append head
  style.
    a {
      text-decoration: none;
      color: black;
    }
    .delete {
      color: red;
    }
  

block content
  div
    a(href='genre/create') 创建新的分类
  ul
    each genre in data
      li
        a(href=genre.url)=  genre.nameCN || genre.name